<%= turbo_frame_tag note do %>
  <div class="note">
    <%= link_to note.title, note_path(note), data: { turbo_frame: "_top" } %>
    <div class="note_actions">
      <%= link_to "Edit", edit_note_path(note), class: "btn btn--light" %>
      <%= button_to "Remove", note_path(note), method: :delete, class: "btn btn--light" %>
    </div>
  </div>
<% end %>
