<main>
  <%= link_to sanitize("&larr; Back to Note"), note_path(@note) %>
  <div class="header">
    <h1>Edit Note</h1>
  </div>

  <%= turbo_frame_tag @note do %>
    <%= render 'form', note: @note %>
  <% end %>
</main>
