<main class="container">
  <%= link_to sanitize("&larr; Back to Notes"), notes_path %>
  <div class="header">
    <h1><%= @note.title %></h1>

    <%= link_to "New Date", new_note_line_item_date_path(@note), class: "btn btn--primary" %>
  </div>

  <%= render @line_item_dates, note: @note %>
</main>
