<main class="container">
  <%= link_to sanitize("&larr; Back to Note"), note_path(@note) %>

  <div class="header">
    <h1>Edit Date</h1>
  </div>

  <%= turbo_frame_tag nested_dom_id(@line_item_date, :edit) do %>
    <%= render "form", note: @note, line_item_date: @line_item_date %>
  <% end %>
</main>
