<main class="container">
  <%= link_to sanitize("&larr; Back to Note"), note_path(@note) %>

  <div class="header">
    <h1>Edit Date</h1>
  </div>

  <%= turbo_frame_tag @line_item_date do %>
    <%= render "form", note: @note, line_item_date: @line_item_date %>
  <% end %>
</main>
