<main class="container">
  <%= link_to sanitize("&larr; Back to note"), note_path(@note) %>

  <div class="header">
    <h1>Edit Item</h1>
  </div>

  <%= render "form", note: @note, line_item_date: @line_item_date, line_item: @line_item %>
</main>